body {
   font-family: 'Fredericka the Great', cursive;
   background-image: url("../images/lavagna.jpg");
   background-size: cover;
}

p {
	text-align: center;
	color: white;
	font-size: 30px;
}

#img-about-me {
	background-image: url("../images/aboutMe.png");
	width: 100%;
	height: 638px;
}

a {
	color: black;
}